<div class="container">
  <div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-header size="lg" weight="bl" [centered]="true">
        Working experience form
      </app-header>
      <div>
        <label for="name">Name</label>
        <app-input id="name" type="text" placeholder="Name" formControlName="name"></app-input>
        <div *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
          <small *ngIf="form.get('name')?.errors?.['required']">Name is required.</small>
        </div>
      </div>
      <div>
        <label for="surname">Surname</label>
        <app-input id="surname" type="text" placeholder="Surname" formControlName="surname"></app-input>
        <div *ngIf="form.get('surname')?.touched && form.get('surname')?.invalid">
          <small *ngIf="form.get('surname')?.errors?.['required']">Surname is required.</small>
        </div>
      </div>
      <div>
        <label for="email">Email</label>
        <app-input id="email" type="email" placeholder="Email" formControlName="email"></app-input>
        <div *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
          <small *ngIf="form.get('email')?.errors?.['required']">Email is required.</small>
          <small *ngIf="form.get('email')?.errors?.['email']">Please enter a valid email address.</small>
        </div>
      </div>
      <div>
        <label for="workingExperience">Experience</label>
        <app-input id="workingExperience" type="text" placeholder="Experience" formControlName="workingExperience"></app-input>
        <div *ngIf="form.get('workingExperience')?.touched && form.get('workingExperience')?.invalid">
          <small *ngIf="form.get('workingExperience')?.errors?.['required']">Experience is required.</small>
          <small *ngIf="form.get('workingExperience')?.errors?.['decimalPlaces']">Only numbers with 1 decimal place allowed.</small>
        </div>
      </div>
      <div class="button-container">
        <app-button label="Submit" type="submit" ></app-button>
        <app-button label="Reset" type="reset" (click)="resetForm()" ></app-button>
      </div>
    </form>
  </div>
</div>

