input {
  display: flex;
  min-width: 300px;
  min-height: 40px;
  padding: 6px 12px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0;
  border: none;
  background: #FFF;
  margin-bottom: 10px;
  border-bottom: transparent;
  border-bottom: 3px solid rosybrown;
}
input:focus {
  outline: none;
  border-bottom: 3px solid blueviolet;
}


