.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: gray;
}

.submit-button {
  background-color: rgba(138, 43, 226, 0.65);
}

.submit-button:hover {
  background-color: rgba(138, 43, 226, 0.97);
}

.reset-button {
  background-color: rgba(56, 31, 77, 0.28);
}
.reset-button:hover {
  background-color: rgba(56, 31, 77, 0.5);
}
