.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.submit-button {
  background-color: darkseagreen;
}

.reset-button {
  background-color: #007bff;
}

.default-button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.3s ease;
}
